VITE_SUPA_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVucndxcGdsZHJ6cnliYnVuemp6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTgxMDk2NjEsImV4cCI6MjAxMzY4NTY2MX0.v5U-53NdZqWE14SMbmnC6_Iy1lIQ3OcF6C6W6CybH0U"
VITE_SUPA_URL="https://enrwqpgldrzrybbunzjz.supabase.co"