* {
  box-sizing: border-box;
}

.page {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}

.page .btnLogout{
  width: 100px;
  height: 40px;
  border-radius: 10px;
  position: fixed;
  right: 20px;
  top: 20px;
  background-color: #533576;
  color: #fff;
}

.container {
  width: 80%;
  height: 100%;
  margin: auto;
}

.logo {
  height: 8em;
  margin: 0 auto 15px;
  display: block;
  padding: 2em 0;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #6c5089);
}

main {
  height: 70%;
  display: flex;
  column-gap: 50px;
}

main aside {
  width: 250px;
  padding: 25px;
  background-color: #F5F3FA;
}

main aside ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

main aside ul li {
  display: flex;
  align-items: center;
  column-gap: 15px;
  margin-bottom: 25px;
  color: #AC9DD9;
  cursor: pointer;
}

main aside ul li:last-of-type {
  margin-bottom: 0;
}

main aside ul li .nav {
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 5.5px solid #ac9dd9;
}

main aside ul li.active {
  color: #1e1a2a;
  cursor: initial;
}

main aside ul li.active .nav {
  border: 5.5px solid #1e1a2a;
}

main section {
  width: calc(100% - 300px);
  display: flex;
  flex-direction: column;
  background-color: #F5F3FA;
}

main section .buttons {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: end;
  column-gap: 15px;
  padding-right: 15px;
  background-color: #e0daf1;
}

main section .screen {
  padding: 25px;
  height: calc(100% - 50px);
  max-height: 400px;
  overflow-y: auto;
}

main section .screen .dataNotFound{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #AC9DD9;
  border-radius: 5px;
  border: 2px dashed #533576;
  margin-top: 25px;
  height: 100px;
}

main section .screen .horizontal{
  display: grid;
  grid-template-columns: auto 100px;
  column-gap: 15px;
  margin-bottom: 10px;
}

main section .screen .horizontal-50{
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 15px;
  margin-bottom: 10px;
}

main section .screen .addDataType ul li{
  padding: 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #533576;
  color: #533576;
  margin-bottom: 10px;
}

main section .screen .addDataType ul li:last-of-type{
  margin-bottom: 0;
}

main section .screen .addDataType ul{
  margin: 0;
  padding: 0;
}

main section .screen .addDataType ul li button{
  width: 30px;
  height: 30px;
  background-color: #533576;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

main section .screen .btnToggle{
  width: 90px;
  height: 40px;
  background-color: #533576;
  color: #fff;
  font-size: 14px;
}

main section .screen .dataTypeList{
  border: 2px dashed #6c5089;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 30px;
  margin-bottom: 15px;
}

main section .screen .dataTypeList .item{
  display: flex;
  column-gap: 5px;
}


main section .screen .dataTypeList .item p{
  font-weight: bold;
  margin: 0;
}

main section .screen .dataTypeList .item small{
  font-size: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px;
}

main section .screen h1 {
  font-size: 24px;
  margin-top: 0;
  color: #3C3553;
}

main section .screen select,
main section .screen input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 0 15px;
}

main section .screen .htmlPreview {
  background-color: #EAE6F6;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-height: 150px;
  overflow-y: auto;
}

main section .screen table{
  width: 100%;
  border-spacing: 0;
  border: 1px solid #e0e0e0;
  margin-top: 25px;
  border-bottom: 0;
}

main section .screen table th,
main section .screen table td{
  height: 40px;
  padding: 0 15px;
  border-bottom: 1px solid #e0e0e0;
}

main section .screen .htmlPreview p{
  color: #3C3553;
}

main section .buttons .next {
  background-color: #533576;
  color: #fff;
}

main section .buttons .prev {
  background-color: #fecb45;
  color: #8d6708;
}