.login-container{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container .login{
    width: 50%;
    max-width: 800px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 15px 25px;
    border-radius: 15px;
}

.login-container .login .logo{
    margin: 0 auto;
    display: block;
}

.login-container .login h1{
    text-align: center;
    font-weight: normal;
    margin-bottom: 0;
    font-size: 40px;
}

.login-container .login p{
    text-align: center;
    margin-top: 5px;
}

.login-container .login button{
    width: 100%;
    height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 25px;
}